@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.logo {
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 20px;
    left: 20px;
    color: gold;
    font-size: 24px;
    font-weight: bold;
}

.signup-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-heading {
    text-align: center;
    color: #333;
}

.signup-form {
    margin-top: 20px;
}

.signup-text {
    margin-bottom: 15px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #d01414;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #d51a1a;
    color: #000000;
}


