{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EMPATİFİLM{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/failed.css' %}">
    {% endblock %}
</head>
<body>
    <p><a class="change-password-link" href="{% url 'password_change' %}">Şifre değişikliği</a></p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-button" type="submit">Çıkış yap</button>
    <div class="logo">EMPATİFİLM</div>
    <h1 class="yok">SİZE UYGUN FİLM ÖNERİMİZ NE YAZIK Kİ YOK! </h1>
    </main>
</body>
</html>

